<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">The Acme Widget</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</header>
<main role="main">
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Activity Registration</h1>
        <p class="lead text-muted">Welcome to Acme Widget Activity Registrtion.</p>
      </div>
    </section>
    <section class="SignupFormSection">
        <div class="row justify-content-center">
          <div class="col-8">
              <acme-signup-form></acme-signup-form>
          </div>
        </div>      
    </section>
  </main>
  <footer class="text-muted">
      <div class="container">
        <p>©{{date| date:'yyyy'}} The Acme Widget</p>
      </div>
    </footer>